* {
    margin: 0px;
    padding: 0px;
}

img{
    opacity: 0.8;
}
.univ{
    opacity: 0.8;
}

.top_img {
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
}

.btn {
    position: relative;
}

.btn a {
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 5em;
    font-family: 'Quicksand', 'Impact', 'fantasy', serif;
    padding: 10px 40px;
    opacity: 0.9;
}

a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.now {
    filter: brightness(80%) sepia(130%);
}

.header_img {
    width: 100%;
    height: 550px;
    display: flex;
}

.book {
    height: 570px;
    opacity: 0.9;
    filter: brightness(90%) contrast(1) sepia(1%);
    display: flex;
    align-items: center;
}

ul.access {
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: coral;
}

a .text {
    vertical-align: middle;
}


span {
    vertical-align: middle;
}
