@import 'https://fonts.googleapis.com/css?family=Cinzel';

* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
body{
    background-color: aqua;
    height: 100%;
    width: 100%;
}
.bgimg{
    opacity: 0.33;
    height: 100%;
    width: 100%;
}
.bgimg::before{
    filter: blur(3px);
}